body{

    border: 8px double black;
   
}


.heading
{
    font-family: 'Cherry Bomb One', cursive;
    font-size: 79px;
    text-align:center;
    color:white;

}

.spiral
{
   
    height:42px;
    width:100%;
    background-image: url(/IMAGES/springcropped1.png);
    background-size: 358px 42px;
    /* background-size:contain; */
    background-repeat:repeat-x; 

}

.div1
{
    background-color:yellow;
    height:35px;
}

.div2
{
    background-color: greenyellow;;
    height:35px;
}

.div3
{
    background-color:#e69b00;
    height:35px;
}

.div4
{
    background-color: #ff6eC7;
    height:35px;
} 


 .name-input
{
   color:rgb(0, 90, 90);
   margin:45px 45px 24px -13px;
   /* padding:3px; */
   width:100%;
   outline:none;
   border:6px groove rgb(6, 255, 230);
}

.due-date
{

    margin:45px 10px 25px 7px;
    width:100%;
    border:6px groove rgb(6, 255, 230);
    outline:none;

}

.Add
{
    margin:45px -9px 25px -51px;
    /* padding:5px; */
    background-color: lightgreen;
    border:6px groove lime;
    box-shadow:2px 2px 2px 2px rgb(2, 74, 2);
    font-weight:bold;
   
    
} 

.delete
{
    padding:7px;
    border:6px groove rgb(255, 52, 6);
    box-shadow:2px 2px 2px 2px rgb(6, 6, 6);
    font-weight:bold;

}


.button,.todolist_1
{
    display:grid;
    row-gap:20px;
    column-gap:20px;
    grid-template-columns: auto auto auto;
    /* margin-left: 350px; */
   
    justify-content:space-evenly;
    
}


.button
{
  padding-top:0px;
  padding-bottom:26px;
  background-color: lightpink;
 
}



.todolist_1
{
  padding-top:18px;
  font-size: 23px;
  /* font-family: 'Lobster', cursive;
  font-weight:100; */
  font-style:italic;
  background-color: lightblue;
  width:100%;
  height:35px;
}


.div5{
    background-color: lightskyblue;
    width:100%;
    height:100px;

}

.div6{
    
    background-color: rgb(10, 110, 173);
    width:100%;
    height:100px;

}

.div7{
  background-color:rgb(195, 239, 108);
  width:100%;
  height:100px;
}

.div8{
  background-color: green;
  width:100%;
  height:100px;
}

.div9{
  background-color: rgb(253, 253, 6);
  width:100%;
  height:100px;
}

@media (max-width:800px)
{
   .body
   {
    height:1800px;
   }

    .heading
    {
        font-family: 'Cherry Bomb One', cursive;
        padding-top:25px ;
        font-size:57px;
        text-align:center;
        color:white;
    
    } 

    .button{

        display:grid;
        grid-template-columns:90px 90px auto;
        
    }

    .todolist_1
    {
        display:grid;
        grid-template-columns:90px 90px auto;
       
    } 

    .entry
    {
        text-align:start;
    }


    .Add
    {
         margin-left:25px;
         margin-right:10px;
       

    }

    .delete
    {
        margin-right:10px;
        padding:3px;
        height:38px;
        margin-bottom:30px;
        
    }

    .name-input
    {
      margin-left:10px;

    }

    .due-date
{ 
    width:100%;
    border:6px groove rgb(6, 255, 230);
    outline:none;
    margin-left:20px;
 


}

}